
  
  .left-panel,
  .right-panel {
    flex-grow: 1;
    height: 100vh; /* Chiều cao của phần tử bằng chiều cao của màn hình */
  }
  
  .vertical-line {
    width: 1px; /* Độ rộng của gạch dọc */
    background-color: black; /* Màu sắc của gạch dọc */
    margin: 0 10px; /* Khoảng cách giữa gạch dọc và các phần khác */
  }
  .containerDIV {
    width: 792px;
    /* padding:; */
    box-sizing: border-box;
    flex-direction: column;
   
  }
  .containerdiv2{
    display: flex;
    width: 950px;
  }
  
  .containerDIV input {
    width: 100%;
    margin-bottom: 10px;
    flex-grow: 1;

  }
  
  .input73 {  
    display: flex;
  }
  
  .input73 input:first-child {
    flex: 7;
    margin-right: 10px;
  }
  
  .input73 button:last-child {
    flex: 3;
    margin-left: 10px;
  }
  .input73 input:last-child {
    flex: 3;
    margin-left: 10px;
  }
  .boxdiv {
    width: 100px;
    padding-right: 30px;
    flex-grow: 1;
  }
  .ptgh{
    border: 1px solid lightgray;
  }
  .divlast{
    position: relative;
  }
  .buttonlast {
    position: absolute;
    bottom: -10px;
    right: 0;
  }
  .hienthisp{
    margin-bottom: 10px;
  }
  .rightposition {
    position: absolute;
    right: 0;
  }
  
