@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
    font-family: "Quicksand", "san-serif";
}

.vertical-separation-symbol {
    width: 1px;
    border-left: 1px solid #c2c2c2;
    margin-right: 4px;
}

.btn-search {
    border-color: #dee2e6;
    border-left: none;
    padding-top: 0;
    padding-bottom: 0;
    background: #ffffff;
}

.btn-search > svg {
    width: 18px;
    height: 18px;
}

.btn-search:hover,
.btn-search:active {
    background-color: #ffffff !important;
    border-color: #dee2e6 !important;
    color: rgb(108, 117, 125) !important;
}

.search-group {
    width: 282px;
}

.input-search {
    font-size: 13px;
    color: #363636;
    border-right: none;
    border: none;
}

.input-search:focus {
    box-shadow: none;
    border: none;
}

.input-search::placeholder {
    color: #b2b2b2;
}

.input-search,
.btn-search {
    height: 35px;
}

.header-container-fluid {
    background: #363636;
}

.header {
    font-size: 13px;
    color: #c2c2c2;
    padding: 9px 0;
}

.header-contact {
    color: #c2c2c2;
}

.navigation-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.navigation-menu > span {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.logo {
    display: block;
    width: 100%;
    font-size: 28px;
    margin-left: 20px;
}

.btn-login {
    text-decoration: none;
    color: #080808;
    font-size: 12px;
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;

    > svg {
        /*.btn-login > svg*/
        width: 20px;
        height: 20px;
        stroke-width: 1.5px;
    }
}

.cart-container {
    margin-left: 10px;
    color: #080808;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    > svg {
        width: 20px;
        height: 20px;
        stroke-width: 1.5px;
    }

    .count {
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        right: -8px;
        top: -10px;
    }
}

.navigation-bar-sticky {
    background-color: #ffffff;
    box-shadow: 0 4px 4px -3px #c2c2c2;
}

.catalog-title {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    padding: 64px 0 32px;
    font-weight: 500;
}

.product-image {
    > img {
        border: 1px solid #f0f0f0;
        width: 100%;
    }
}

.product-name {
    padding: 20px 0 4px;
    font-size: 16px;
}

.product-price {
    display: flex;
    gap: 12px;
    justify-content: baseline;
    font-size: 14px;

    .discounted {
        color: red;
        font-weight: 700;
    }

    .non-discounted {
        text-decoration: line-through;
        color: #b5b5b5;
    }
}

footer {
    background-color: #1c1c1c;
    color: #c2c2c2;
    font-size: 12px;
    font-weight: lighter;
}

footer p {
    margin-bottom: 5px;
}

.container_link > .link a {
    color: #c2c2c2;
}

.title_Fanpage,
.title_Info_business,
.title_link,
.title_contact {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.Info_business img {
    max-width: 170px;
}

.contact > .address, .contact > .phone, .contact > .mail{
    display: flex;
    gap: 5px;
}

.contact svg{
    height: 20px;
}

.footer_container{
    display: flex;
    justify-content: space-between;
}
.btnpagecss {
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 0px;
    border: 1px solid gray;
    display: inline-block;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background-color: white;
    transition: all 0.3s ease-in-out;
    z-index: 9;
  }
  .btnpagecss:hover {
  background-color: black;
  }
  .btnpagecss span {
    z-index: 10;
  }
  .btnpagecss:hover span {
    transition: all 0.3s ease-in-out;
    color: white;
  }
  #prevBtn:disabled,
  #nextBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .hide {
    display: none;
  }